.fotodefondo{
  box-sizing: content-box;
  width:100%;
  overflow:auto;
  position: fixed;
  background-image: url('imagen/senalando.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  height:640px;
  margin:0px;
  padding:0px;
  min-height: 450px;
  right: 0em;
  top: 0;
  z-index: 0;
}
form{
  position: relative;
  top: 50px;
  right: 0px;
}
form fieldset legend{
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  color: #09D8FD;
  text-shadow: 3px 3px #000;
}

fieldset{
   width:500px;
border:4px double #0080FF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 8px 8px 6px #808080;
-moz-box-shadow: 8px 8px 6px #808080;
box-shadow: 8px 8px 6px #808080;
background-color: #CEECF5;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
color: #0B173B;
opacity: 0.1px;
}
button{
  position: relative;
  height:34px;
 margin:0 auto;
 margin-right:10px;
 float:left;
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
right: -15em;
}


@media screen and (max-width:600px){
  fieldset{
     width:200px;
  border:4px double #0080FF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 6px #808080;
  -moz-box-shadow: 8px 8px 6px #808080;
  box-shadow: 8px 8px 6px #808080;
  background-color: #CEECF5;
  padding: 10px;
  font-family: Verdana, Geneva, sans-serif;
  color: #0B173B;
  opacity: 0.1px;
  }
  button{
    position: relative;
    height:34px;
   margin:0 auto;
   margin-right:10px;
   float:left;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
  right: -5em;
  }
}
